<html lang="pt-br">
    <head>
        <% include ../../partials/head %>
    </head>
    <body>
        <div class="container">
           <h2>logout</h2>
        </div> 
        
        <% include ../../partials/js-imports %> 
    </body>
</html>