<html lang="pt-br">
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="container">
        <h1><%= title %></h1>

        <div class="alert alert-primary" role="alert">
            Você está logado!
        </div>
    </div>

    <% include ../partials/js-imports %>
</body>
</html>